body,html {
    padding:0px;
    margin:0px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    color:black;
    background:#CDC1FF;
    scroll-behavior: smooth;
}

/*header*/
.site-header {
    background-color: #F5EFFF;
    padding: 1em;
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 2em;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 40px;
}

.nav a {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav a:hover {
    border-bottom: 2px solid black;
}

/* Media queries for smaller devices */
@media (max-width: 900px) {
    .nav {
        justify-content: flex-start;
    }

    .nav-list {
        display: none; /* Hide the list by default on small screens */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #F5EFFF;
    }

    .nav-item {
        margin: 20px 0;
    }

    .hamburger {
        display: block; /* Show the hamburger menu */
    }

    .hamburger.active + .nav-list {
        display: flex; /* Show the nav list when hamburger is clicked */
    }
}

/*logging in*/
.login-main{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    position: relative;
}
  
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}
  
.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #000;
}
  
.login-container form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; 
}
    
.login-container input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CDC1FF;
    border-radius: 5px;
  }
  .login-container input::placeholder{
    color: #A594F9;
}

button {
    padding: 10px;
    background-color: #A594F9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
button:hover {
    background-color: #A594F9;
    }

#title {
    font-size:40px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
}

/*about me*/
#middle {
    width: 100%;
    height: auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: black;
    display: flex;
    align-items: center; 
    padding: 50px; 
}

#middle img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    flex-shrink: 0; 
    margin-right: 100px; 
}

#middle h3 {
    font-size: 1.5em;
    max-width: 800px; 
    line-height: 1.6;
}

#portfolio {
    width:80%;
    padding:2% 10%;
}
#portfolio div h1 {
    font-size:40px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
}
#skills {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#work {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#contact {
    margin:4vh 0px !important;
    padding:2vh 0px !important;
}
#contact form {
    width:100%;
}
#contact form input {
    width:46%;
    margin:20px 1%;
    background:transparent;
    border:0px;
    border-bottom:2px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    transition:0.4s ease-in-out;
    color:#fff;
}
#contact form textarea {
    width:96%;
    margin:20px 1%;
    padding:8px 10px;
    border:0px;
    border-bottom:2px solid rgba(255,255,255,0.5);
    padding:8px 10px;
    font-family: 'Comfortaa', cursive;
    font-size:18px;
    background:transparent;
    resize:none;
    transition:0.4s ease-in-out;
    color:#fff;
}
#contact form input:focus {
    outline:none;
    border-bottom:2px solid rgba(255,255,255,1);
}
#contact form textarea:focus {
    outline:none;
    border-bottom:2px solid rgba(255,255,255,1);
}
::placeholder {
    color:#fff;
}
.btn_one {
    color:white;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_one:hover {
    background:white;
    cursor:pointer;
    color:#000;
}
.project div {
    font-weight:normal;
}
.btn_two {
    color:#000;
    padding:10px 40px;
    border-radius:50px;
    border:2px solid #fff;
    font-size:18px;
    font-family: 'Comfortaa', cursive;
    font-weight:bold;
    background:#fff;
    transition:0.4s ease-in-out;
    margin:30px 10px;
}
.btn_two:hover {
    background:transparent;
    cursor:pointer;
    color:#fff;
}

/*lab activities*/
.collage {
    display: flex;
    justify-content: space-around; 
    gap: 10px; 
}

.collage img {
    width: 45%; 
    height: auto; 
}

.description {
    margin-top: 20px; 
}

#details {
    margin:6vh 0px;
}
.btn_social {
    font-size:18px;
    color:#fff;
    margin:40px 20px;
    padding:15px 18px;
    border-radius:50%;
    background:#000;
    transition:0.4s ease-in-out;
}
.btn_social:hover {
    color:#000;
    background:#fff;
    cursor:pointer;
}
@media (max-width: 900px){
    #title {
        font-size:30px;
    }
    #links {
        margin:30px 0px;
    }
    #links a {
        margin:0px;
    }
    .btn_one {
        font-size:14px;
        padding:8px 20px;
    }
    .btn_two {
        font-size:14px;
        padding:8px 20px;
    }
    #contact form input {
        width:92%;
    }
    #contact form textarea {
        width:92%;
    }
    .btn_social {
        font-size:14px;
        margin:10px;
        padding:10px 11px;
    }
}
#footer {
    width:100%;
    padding:10vh 0px;
    text-align:center;
    font-weight:bold;
}
#footer a {
    font-size:18px;
    background-image: linear-gradient(to left, #FF416C 0%, #FF4B2B 100%);
    -webkit-background-clip:text;
    background-clip:text;
    -webkit-text-fill-color: transparent;
    background-size:500% 500% !important;
    -webkit-animation: Gradient 20s ease infinite;
    -moz-animation: Gradient 20s ease infinite;
    -o-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    font-family: 'Comfortaa', cursive;
    text-decoration:none;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
@-webkit-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@-moz-keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}
@keyframes Gradient {
0% {background-position: 0% 50%}
50% {background-position: 100% 50%}
100% {background-position: 0% 50%}
}